[submodule "kernel_lineage_mt6833"]
	path = kernel_lineage_mt6833
	url = https://github.com/xiaomi-mt6833-dev/kernel_xiaomi_mt6833.git
	branch = lineage-23.2
[submodule "magisk"]
	path = magisk
	url = https://github.com/topjohnwu/Magisk.git
	branch = v30.7
[submodule "pwnage24mtk"]
	path = pwnage24mtk
	url = https://github.com/kasnria001/pwnage24mtk
